//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/mina/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/mina/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/mina/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/mina/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/mina/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/mina/.local/share/rofi/themes/rounded-blue-dark.rasi"
@theme "/home/mina/.local/share/rofi/themes/simple-tokyonight.rasi"
